.row {
    display: flex;
    flex-direction: row;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.col {
    display: flex;
    flex-direction: column;
}

.col-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: nowrap;
}

.no-wrap {
    flex-wrap: nowrap
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}


/* container  */

.container {
    width: 1140px;
    margin: 0 auto;
    justify-content: center;
}


/* start responsive site  */

.elenmentor-wrap {
    flex-wrap: nowrap;
}

@media only screen and (max-width:990px) {
    .container {
        width: auto;
    }
    .flex-wrap {
        flex-wrap: wrap;
    }
    .timeline.flex-wrap {
        flex-wrap: nowrap;
    }
    .timeline.wrap-reverse {
        flex-wrap: wrap-reverse;
    }
    .timeline.timeline-item {
        width: 100%;
    }
    .timeline.timeline-content {}
}


/* with max width as 767 px  */

@media only screen and(max-width:767px) {
    .container {
        width: 100%;
    }
    .elenmentor-wrap {
        flex-wrap: wrap;
    }
}


/* with max width as 600px  */

@media only screen and (max-width:500px) {
    .container {
        width: 100%;
    }
    .elenmentor-wrap {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}