.container {
    display: flex;
}

.flex-wrap {
    flex-wrap: nowrap;
}

.item_a {
    width: 400px;
    height: 350px;
    background-color: red;
    order: 2;
}

.item_b {
    width: 400px;
    height: 350px;
    background-color: blue;
    order: 1;
}

.item_c {
    width: 400px;
    height: 350px;
    background-color: yellow;
    order: 4;
}

.item_d {
    width: 400px;
    height: 350px;
    background-color: green;
    order: 3;
}

@media only screen and (max-width: 600px) {
    .container div {
        /* width: 50%; */
        margin: 0 auto;
    }
    /* .flex-wrap {
        flex-wrap: wrap;
    } */
    .item_a {
        order: 3;
    }
    .item_b {
        order: 2;
    }
    .item_c {
        order: 4;
    }
    .item_d {
        order: 1;
    }
}

@Media only screen and (max-width: 480px) {
    /* .flex-wrap {
        flex-wrap: wrap;
        width: 200%;
    } */
    .container {
        flex-direction: column;
    }
    .item_a {
        order: 1;
    }
    .item_b {
        order: 2;
    }
    .item_c {
        order: 3;
    }
    .item_d {
        order: 4;
    }
}